.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#insert {
  float: left;
  text-align: right;
  width: 25%;
}
#calendar {
  float: left;
  width: 40%;
  margin-left:20px;
}
#content {
  float: left;
  width: 30%;
  margin-left:20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
